*.class
*.iml
*.ipr
*.iws
*.classpath
*.project
*.launch
*.psd
*.DS_Store
/output

# Gradle and development runs
/build
/.gradle
/eclipse/assets
/eclipse/.metadata
/libs
/bin/
/run/
/logs/
/out/
/classes/

\.idea/

mcmodsrepo/
